/* Override browser default styles to ensure consistency */
html,
body {
    margin: 0;
    padding: 0;
}

/* Cover the entire page, handle background */
body {
    height: 100vh;
    width: 100vw;
    background-image: url(./img/colorbg.jpg);
    object-fit: stretch;
    background-repeat: no-repeat;
    background-size: 109rem 59rem;
}

/* Include border and padding */
* {
    box-sizing: border-box;
}

/* Create a full-sized container that fills up the entire page */
div {
    height: 100%;
    width: 100%;
    padding: 0.1rem;
}

/* Consistent styling for 'draftText' and 'draftingtext' */
.draftText,
.draftingtext {
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Julius Sans One';
}

/* Additional styling for 'draftingText' */
.draftingText {
    color: white;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Styling for tables and table cells -> Picked options*/
table {
    color: white;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px 7rem;
}

/* Styling for select dropdowns -> Options during picking phase*/
select {
    border: 0px;
    outline: 0px;
    color: #BDBDAA;
    font-size: 1.2em;
    margin: 1rem;
}

/* Styling for input and textarea elements -> Initial Draft Creation*/
input,
textarea {
    border: 0;
    padding: 0.6rem;
    resize: none;
    font-size: 1em;
}

/* Additional styling for textarea elements -> Drafter & Options */
textarea {
    height: 9rem;
}

/* Styling for buttons */
button {
    padding: 0.9rem 1.8rem;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    color: #BDBDAA;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}

/* Styling for labels */
label {
    font-size: 1.3em;
}

/* Styling for header elements */
.header {
    color: white;
    text-align: center;
    padding-top: 3.4vh;
    font-family: 'Julius Sans One';
    font-size: 8vh;
}

/* Styling for inline text elements */
.inline-txt {
    width: 75%;
    height: 100%;
}

/* Styling for columns using flexbox */
.columns {
    display: flex;
    padding-left: 50vh;
    flex-wrap: wrap;
    gap: 10px;
}

.columns > * {
    flex: 1 1;
}
